* {
    margin:0;
    padding:0px;
    box-sizing: border-box;
    border:0; 
}
body {
background-color: rgba(234, 234, 234, 0.61)    
}
ul {
    padding: 0px;
    margin: 0px;
    list-style:none;
    overflow: hidden;
    background-color:rgba(244, 161, 11, 0.85);
    position:fixed;
    top:0;
    width:100%; 
}
li {
    float:right;  
    width:auto;
}
li a{
    text-align:center; 
    display:block;
    text-decoration:none; 
    color:black;
    border-right:2px solid black;; 
    font-size:150%;
    padding:20px;
    font-weight:600; 
}
li a:hover{
    background-color:black;  
    color:rgba(131, 250, 77, 0.94); 
}
.title {
    float:left; 
    font-size:150%;
    text-align: center;
    display:block;
    padding:5px;
    font-weight:600;
    color:rgb(247, 16, 25); 
    border:2px solid black;
    border-radius:10px; 
    left:10px;
}

/*

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

*/
.grid {
    display:grid;
    grid-template-columns:1fr 1fr; 
}
.grid div:nth-child(even)
{
    background-color:green;
}
.grid div:nth-child(odd)
{
    background-color:red;
}


