* {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    margin:0 0 0 0; 
    
}
.clearfix {zoom:1}
clearfix {
    content: '.';
    clear: both;
    display: block;
    height:0;
    visibility:hidden; 
}
body {
    font-size:20px;
    color: rgba(3, 2, 2, 0.76);
    font-family:'Lato','Arial','sans-serif';
    background-color:white
    font-weight:100;
    text-rendering: optimizeLegibility;
    
} 
.row {
    max-width:1140px;
    margin left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:0px;
}
.gallery {
    background-color:black;
    padding:0px;
}
.u {
    width:100%;
     list-style:none;
}
.u li 
{
    width:25%;
    display: block;
    float:left;
}
.f {
    width:100%;
    overflow:hidden;
    background-color:black;    
}
