/*mandatory code*/
* {
    margin:0;
    padding:0px;
    box-sizing: border-box;
    border:0; 
}
.clearfix {zoom:1}
clearfix {
    content: '.';
    clear: both;
    display: block;
    height:0;
    visibility:hidden; 
}
body {
    font-size:20px;
    color: rgba(3, 2, 2, 0.76);
    font-family:'Lato','Arial','sans-serif';
    background-color:white;
    font-weight:100;
    text-rendering: optimizeLegibility;   
    height:100%; 
     
} 
.row {
    max-width:1140px;
    margin left:auto;
    margin-right:auto;  
}
h1 {
    color:rgba(242, 242, 71, 0.86);    
;
}
/*header*/
header {
     background-image:linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)),url(im/ceg2.jpg);
    height:100vh; 
    background-position:center;
    background-size:cover;
    margin:0 auto 0 auto; 
     
}

.logo {
    border-radius: 30%;
   
    float:left;
    padding:10px;
    margin:20px 0 auto 10px;
}
.main-nav {
    float:right;
    list-style:none;
    margin-top:70px;
    margin-right: 20px;
    
}
.main-nav li {
    list-style:none;
    display: inline-block;
    margin-right:90px;  
    font-weight:500;
    font-size:25px;
}
   
.main-nav li a:link,.main-nav li a:visited{
    padding:8px 0 8px 0; 
    color:whitesmoke;
    font-size:100%;
    font-weight:500; 
    text-decoration: none;
    text-transform: uppercase;
    border-bottom:3px solid transparent;
    transition: border-bottom 0.5s;
    
    
}
.main-nav li a:hover,.main-nav li a:active{
    border-bottom:3px solid rgba(10, 255, 0, 0.86);    
}
.tagline {
    position:relative;
    top:45%;
    left:62%;
    width:1140px;
    transform:translate(-50%,-50%);
    width:100%;
}
.btn:link,.btn:visited {
    position: absolute;
    background-color:rgba(10, 255, 0, 0.86);
    color:whitesmoke;
    padding:10px 30px;
    border-radius:200px; 
    font-size:20px;
    text-decoration:none;
    font-weight: 600;
    transition:background-color 0.50s,border 0.50s; 
    border:1px solid rgba(10, 255, 0, 0.86);
    margin-left:200px; 
    top:100px;
    left:240px; 
}
.btn:hover,.btn:active {
    background-color:rgba(18, 126, 13, 0.72);
    color:whitesmoke;
    border:1px solid whitesmoke;
}
    
